:root {
    /*
    --color-principal: #red;
    --color-secundario: #blue; */
    --font-family: 'Oswald', Arial, sans-serif;
    --text-normal: 1rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --bold: 800;
    --dark-blue: #091926;
    --blue: #03658C;
    --light-blue: #05C7F2;
    --dark-green: #038C7F;
    --light-green: #04BFAD;
    --white: #FFFFFF;
    --black: #000000;

    /* ALTURAS Y ANCHURAS */
    --header-height: 60px;

    /* PADDINGS */
    --header-padding: 1rem;
    --main-menu-padding: 0 24px;
    --btn-padding: 16px;
    --container-padding: 24px;
    --btn-list-padding: 24px 0;
    --card-list-padding: 0;
    --footer-padding: 16px 24px;
    --nav-list-padding: 8px 0;

    /* ESPACIADOS / SPACINGS */
    --spacing-0: 0;
    --spacing-4: 4px;
    --spacing-6: 6px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-40: 40px;
    --spacing-64: 64px;
    --spacing: 80px;

    /* MARGINS */
    --footer-margin: var(--spacing-64) 0 0 0;

    /* CARD */
    --card-padding: 1rem;
    --card-border-radius: 8px;
    --card-height: 200px;
    --card-widht: 200px;
    
    /* ENLACES */


    /* BOTONES */
    --btn-heigth: 40px;
    --btn-border-radius: 8px; 
    --bg-btn-primary:#03658C;
    --btn-border-primary: 1px solid #03658C;
    --btn-text-primary: #091926;
    --bg-btn-secondary: #F5F5F5;
    --btn-border-secondary: 1px solid #03658C;
    --btn-text-secondary: #091926;
}

/* ESTILOS GENERALES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    margin: 0;
    background-color: var(--black);

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
}

h1 {
    font-size: 2rem;
    line-height: 1em;
    color: var(--light-blue);
    margin: 0;
}

h2 {
    font-size: 1.75rem;
    line-height: 2em;
    margin: 0 0 var(--spacing-16) 0;
    color: var(--white);
}

h3 {
    font-size: 1.5rem;
    line-height: 1.75em;
    margin: 0 0 var(--spacing-16) 0;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0 0 var(--spacing-16) 0;
}

h5 {
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 800;
    margin: 0 0 var(--spacing-16) 0;

}

h6 {
    font-size: 1rem;
    line-height: 1.188em;
    margin: 0 0 var(--spacing-16) 0;
}

p {
    font-family: var(--font-family);
    font-size: var(--text-normal);
    line-height: 1.188em;
}

/* CONTAINERS */

.container {
    padding: var(--container-padding);
    margin: 0;
}

/* LISTAS */

ul, li {
    margin: var(--spacing-0);
    padding: var(--spacing-0);
}

ul li {
    list-style: none;
    
}

ul.list.card-list {
    padding: 0 auto;
    margin-bottom: var(--spacing-16);
}


/* ENLACES */

a {
    color: var(--light-blue);
    text-decoration: none;
    font-size: 1rem;
    line-height: 0.25em

}

a:hover, a:focus {
    text-decoration: underline;
    color: var(--white);
    transition: all ease 0.9;
}

.light-mode a {
    color: var(--link-color);
}

/* CABECERA Y MENÚ */

.header {
    padding: var(--header-padding);
    background-color: var(--dark-blue);
    height: var(--header-height);
    
}

.navbar.main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  align-content: center;
}

.menu-icon {
    display: none;
}

.menu-icon img {
    width: 2rem;
    height: 2rem;
}

#menu_hamburguesa {
    display: none;
    cursor: pointer;
}

#menu_hamburguesa:checked + .navbar.main-menu .nav-list {
    height: calc(100vh - var(--header-height));
}


.main-title {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: left;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-24);
  align-items: center;
}

.list-item.nav-list-item {
    display: flex;
    margin: 0 8px;
    align-items: center;
}

.list-item .btn {
  margin-right: 1rem;;
}

.navbar.main-menu .label {
    display: none;
    color: var(--light-blue);
    margin-right: var(--spacing-8);
}

.menu_hamburguesa {
    display: none;
}

/* CARDS */

.card {
    background-color: var(--dark-blue);
    padding: var(--card-padding);
    border: 1px solid var(--dark-blue);
    border-radius: var(--card-border-radius);
    width: 100%;
    min-height: 200px;

    &:hover {
        
        transform: scale(1.05);
        border-color: var(--light-blue);

    }
}

.card-picture img {
    width: 100%;
    height: auto;
    min-width: 100px;
    min-height: 100px;
    object-fit: cover;
}

.light-mode .card {
    background-color: var(--bg-light-card-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
}

.light-mode .card:hover, .light-mode .card:focus {
    border: var(--border-card-dark);
    transition: all ease 0.6;
}

/* BOTONES */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: var(--text-normal);
    min-width: 40px;
}

.btn-list {
  display: flex;
  flex-direction: row;
  padding: var(--btn-list-padding);
  margin: 0;

}

.btn.primary-btn {
    background-color: var(--bg-btn-primary);
    padding: var(--btn-padding);
    color: var(--white);
    border: var(--btn-border-primary);
    border-radius: var(--btn-border-radius);

    &:hover, &:focus {
        background-color: var(--dark-blue);
        color: var(--white);
        transition: all ease 0.8;
    }
}

.header .btn.primary-btn {
    height: var(--spacing-40);
    margin-right: 0;
}

.btn.secondary-btn {
    background-color: var(--bg-btn-secondary);
    padding: var(--btn-padding);
    color: var(--btn-text-secondary);
    border: var(--btn-border-secondary);
    border-radius: var(--btn-border-radius);

    &:hover, &:focus {
        background-color: var(--bg-btn-primary);
        color: var(--white);
        transition: ease all 0.8;
    }
}


.btn.secondary-btn p, .btn.secondary-btn a, .btn.secondary-btn span {
    font-family: var(--font-family);
    font-weight: var(--bold);
}

/* INPUTS */

.input {
    height: 40px;
    min-width: 40px;
    width: 100%;
    border: 1px solid var(--bg-btn-primary);
    border-radius: 8px; /* Hacer una variable del border-radius de los inputs */
    font-family: var(--font-family);
    font-size: var(--text-normal);
    padding: var(--spacing-4) var(--spacing-8);
    outline: none;
}

.input-search {
    border-right: 0;
    border-radius: var(--spacing-8) 0 0 var(--spacing-8);
}

input::placeholder {
    color: #2f2f2f;

}

.label { /* Label de los select */
  display: inline-block;
  font-size: var(--font-size-16);
  margin: 0;
  color: var(--white);
}

.container-input {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    width: 100%;
}

.container-input > label {
    margin-left: 0;
}

.select {
  font-family: var(--font-family);
  font-size: var(--font-size-14);
  color: var(--text-light-color);
}

.header select#idioma {
    font-size: var(--font-size-16);
    background-color: var(--dark-blue);
    color: var(--light-blue);
    border: none;
    border-radius: var(--btn-border-radius);
    height: var(--btn-heigth);
}

.option {
    font-size: 0.85rem;
    font-family: var(--font-family);
}

.input-wrapper {
    display: flex;
    width: 100%;
}

.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacing-16);
    border: 1px solid var(--bg-header-dark-color);
    border-radius: 0 var(--spacing-4) var(--spacing-4) 0;
    border-left: 0;
    background-color: var(--blue);
    color: var(--bg-light-color);
    cursor: pointer;
}

.btn-search .icon {
    width: var(--spacing-24);
    height: var(--spacing-24);

}

/* FOOTER */

.footer {
    background-color: var(--dark-blue);
    padding: var(--footer-padding);
    margin: var(--footer-margin);
}

.footer .logo {
    font-size: var(--font-size-16);
    color: var(--white);
}

.footer > .nav-list {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-24);
    margin-bottom: var(--spacing-12);
}

ul.nav-list.footer-list {
    justify-content: space-between;
    margin-bottom: var(--spacing-16);
}

/* GRID / REJILLA */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-16);
  }


/* MEDIA QUERIES */

/* Pantallas grandes (desktops grandes) */
@media (min-width: 1200px) {
    .header {
        height: var(--header-height);
    }

}

/* Pantallas medianas (desktops y laptops) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Pantallas pequeñas (tabletas en orientación horizontal o dispositivos pequeños) */
@media (min-width: 768px) and (max-width: 991px) {

    .navbar.main-menu .nav-list {
        height: 0;
    }

  .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-16));
  }
}

/* Pantallas muy pequeñas (móviles en orientación vertical) */
@media (max-width: 767px) {

  .header_title_menu {
    display: flex;
    align-items: center;
  }

  .menu-icon {
    display: block;
  }

  .navbar.main-menu { 
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
  }

  .navbar.main-menu .nav-list {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: calc(var(--header-height) - var(--spacing-8));
    height: 100vh;
    left: 0;
    right: 0;
    gap: var(--spacing-40);
    background-color: var(--black);
    padding: var(--spacing-32) 0 0 0;
    transition: opacity 0.6s ease, visibility 0.8s ease;
  }

#menu_hamburguesa:checked ~ .nav-list {
  display: flex;
  opacity: 1;
  visibility: visible;
}

  .navbar.main-menu > .list-item.nav-list-item a {
    gap: var(--spacing-16);
  }

  .btn {
    width: 100%;
  }

    .btn-list {
        flex-direction: column;
        padding-top: var(--spacing-0);
  }

    .btn-list .list-item {
        margin-bottom: var(--spacing-12);
  }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap:(var(--spacing-16));
  }

    /* FOOTER */

    .footer > .navbar.nav-list {
        flex-direction: column;
        justify-content: space-between;
    }
}

/* Pantallas extremadamente pequeñas (móviles pequeños) */
@media (max-width: 480px) {

    .menu-icon {
        display: block;
    }

  .navbar.main-menu { 
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }

    .navbar.main-menu .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
  }

  .nav-list-item {
    text-align: center;
    padding: var(--spacing-12) 0;
  }

  .menu-icon {
    display: block;
  }


    .btn {
        width: 100%;
  } 

  .btn-list {
    flex-direction: column;
    padding-top: var(--spacing-0);
  }

  .btn-list .list-item {
    margin-bottom: var(--spacing-12);
  }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap:(var(--spacing-16));
  }

    /* FOOTER */

    .footer .nav-list {
        flex-direction: column;
    }
}